<br/>
<section class="container col-sm-12">
    <!--primeira linha-->
    <div class="row">
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftCircle.png" alt="Logo Gft"/>
        </div>
    </div>
    <!--segunda linha -->
    <div class="row">
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
    </div>
    <!-- Terceira linha -->
    <div class="row">
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
    </div>
    <!--Quarta linha -->
    <div class="row">
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
    </div>
    <!--Quinta linha-->
    <div class="row">
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
    </div>
    <!--Sexta linha-->
    <div class="row">
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
    </div>
    <!--Setima linha-->
    <div class="row">
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
    </div>
    <!--Oitava linha -->
    <div class="row">
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta1.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
        <div class="col-sm-1">
            <img class="seta" src="../assets/GftSeta.png" alt="Logo Gft"/>
        </div>
    </div>

</section>